@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
  }
}

.messages {
  display: flex;
  justify-content: center;
  padding: 8px;
  position: absolute;
  width: 100%;
  color: white;
  top: 0;
  opacity: 1;

  /*Animação hidemessage, duração de 400ms, cameça depois de 5s, 
  transição ease-out, permanece no "to" da animação forwards*/
  animation: hidemessage 400ms 5s ease-out forwards;
}

.messages.error {
  background-color: #e74c3c;
}