<!DOCTYPE html>
<html>
  <head>
    {% block title %}
      <title>Launchstore</title>
    {% endblock title %}

    {% include 'parts/styles.njk' %}

    {% block styles %}
    {% endblock styles %}
  </head>

  <body>
    {% include 'parts/messages.njk' %}

    {% include 'parts/header.njk' %}

    {% block content %}
    {% endblock content %}

    {% include 'parts/footer.njk' %}

    <script src="/scripts.js"></script>
  </body>
</html>